schedule_XSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="schedule">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="professor" minOccurs="0" maxOccurs="unbounded" >
					<xs:complexType>
						<xs:sequence>
							<xs:element name="numderOfLessons" type="xs:byte" />
							<xs:element name="numderOfStudents" type="xs:byte" />
							<xs:element name ="object">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nameObject" type="xs:string"/>
										<xs:element name="week" type="xs:string"/>
										<xs:element name="cabinet" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="fio"
									  type="xs:string"
									  use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>